{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transaction edit</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('_index') }}"><i class="fas fa-step-backward"></i>Back to the list</a>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" style="float:left" class="btn btn-primary mr-1" value="Enregistrer"/>
    {{ form_end(edit_form) }}
    
    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-primary" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
