{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transactions list (Screen 1)</h1>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
    </svg>
    <a href="{{ path('_new') }}">Create a new transaction</a>
    
    <div class="count" style="float: right">
        Total : {{ transactions.getTotalItemCount }}
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>IsInput</th>
                <th>Description</th>
                <th>IsValid</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <form method="POST" id="filterForm" novalidate>
                <input type="hidden" id="pagination" name="page" value="1">
                <tr>
                    <td>{{ form_widget(form.title) }}</td>
                    <td>{{ form_widget(form.amount) }}</td>
                    <td>{{ form_widget(form.isInput) }}</td>
                    <td>{{ form_widget(form.description) }}</td>
                    <td>{{ form_widget(form.isValid) }}</td>
                    <td>{{ form_widget(form.category) }}</td>
                    <td>{{ form_widget(form.tags) }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary" value="filter"><i class="fas fa-search">Filter</i>
                        </button>
                    </td>
                </tr>
            </form>
            {% include 'transaction/transactionData.html.twig' with {'transactions': transactions, 'Paginator' : false} %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(transactions) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.page-link ').click(function (event) {
            event.preventDefault();
            $("#pagination").val($(this).data("page"));
            $("#filterForm").submit();
        })
        $('a.sortable ').click(function (event) {
            event.preventDefault();
            $("#pagination").val("1");
            $("#sortable").val("title");
            $("#direction").val('desc');
            $("#filterForm").submit();
        })
    </script>
{% endblock %}
