{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transaction</h1>
    <a href="{{ path('_index') }}"><i class="fas fa-step-backward"></i>Back to the list</a>
    
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ transaction.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ transaction.title }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{ transaction.amount }}</td>
        </tr>
        <tr>
            <th>Isinput</th>
            <td>{% if transaction.isInput %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ transaction.description }}</td>
        </tr>
        <tr>
            <th>Isvalid</th>
            <td>{% if transaction.isValid %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{% if transaction.createdAt %}{{ transaction.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{% if transaction.updatedAt %}{{ transaction.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>category</th>
            <td>{% if transaction.category %}{{ transaction.category }}{% endif %}</td>
        </tr>
        <tr>
            <th>tag</th>
            <td>
                {% if transaction.tags %}
                    <ul>
                        {% for tag in transaction.tags %}
                            <li> {{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    
    <a class="btn btn-primary mr-1 " style="float: left" href="{{ path('_edit', { 'id': transaction.id }) }}">
        <i class="fas fa-edit mr-1"></i>Edit</a>
    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-primary">Delete</button>
    {{ form_end(delete_form) }}
{% endblock %}
